# Assignment 1

Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [1]:
var1="abhishek"
var2=[2,3,'çar',True]
var3=4.56
var4=(4,56,'tuple',False)

In [2]:
type(var1)

str

In [3]:
type(var2)

list

In [4]:
type(var3)

float

In [5]:
type(var4)

tuple

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

In [6]:
var1 = ''
var2 = '[ DS , ML , Python]'
var3 = [ 'DS' , 'ML', 'Python' ]
var4 = 1

In [7]:
type(var1)

str

In [8]:
type(var2)

str

In [9]:
type(var3)

list

In [10]:
type(var4)

int

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [16]:
print("5 / 2 =",5/2)  #5 is divided by 2
print("5 % 2 =",5%2)  #remainder of 5/2 i.e. modulus
print("5 // 2 =",5//2)  #divide with integral result (discard remainder)
print("5 ** 2 =",5**2)  #5 power of 2

5 / 2 = 2.5
5 % 2 = 1
5 // 2 = 2
5 ** 2 = 25

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [17]:
lst_1=[1,12,3,"N.A. ","abhi",3.4,False,'Z','@',(1,2,3)]
type(lst_1)
for i in  range (10) :
    print(f"lst_1[{i}]=", lst_1[i],"datatype=",type(lst_1[i]))

lst_1[0]= 1 datatype= <class 'int'>
lst_1[1]= 12 datatype= <class 'int'>
lst_1[2]= 3 datatype= <class 'int'>
lst_1[3]= N.A.  datatype= <class 'str'>
lst_1[4]= abhi datatype= <class 'str'>
lst_1[5]= 3.4 datatype= <class 'float'>
lst_1[6]= False datatype= <class 'bool'>
lst_1[7]= Z datatype= <class 'str'>
lst_1[8]= @ datatype= <class 'str'>
lst_1[9]= (1, 2, 3) datatype= <class 'tuple'>

# Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [18]:
A=int(input("enter A"))
B=int(input("enter B"))
i=0
C=A
if A%B != 0:
    print(f'{A} is not divisible by {B}')
else:
    while A%B==0:
        i=i+1
        A=A/B
    print(f"{C} is purely divisible =>{i} times")

enter A 5
enter B 2

5 is not divisible by 2

### Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element isdivisible by 3 or not.

In [ ]:
lst=[12,3,45,67,8,9,7,43,4,6,7,8,65,23,31,55,67,88,99,767,4311,987,943,234,456]

In [ ]:
for i in range(len(lst)):
    if lst[i]%3==0:
        print(f'lst[{i}]={lst[i]} is divisible by 3')
    else:
        print(f'lst[{i}]={lst[i]} is not divisible by 3')

## Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

In [ ]:
### mutable means elements at particular index can be updated like list,array
lst=[1,2,3]
print(lst)
lst[1]=3
print("mutable",lst)
### non mutable means whole variable has to change but not elements at any index like string,tupple
st="abhishek sharma"
print(st)
st[1]=3
print(st)